*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    text-align: center;
}

li{
    display: inline-block;
    margin: 0 20px;
}

footer{
    display: flex;
    justify-content: center;
}

.mather{
    margin: 50px auto;
    width: 800px;
}



.box1-1{
    width: 200px;
    height: 200px;
    background-color: #e6ffe9;
    display: inline-block;
    margin:0;
}
.box1-2{
    width: 200px;
    height: 200px;
    background-color: #cbffd3;
    display: inline-block;
    margin:0;
}
.box1-3{
    width: 200px;
    height: 200px;
    background-color: #aeffbd;
    display: inline-block;
    margin:0;
}
.box1-4{
     width: 200px;
    height: 200px;
    background-color: #93ffab;
    display: inline-block;
    margin:0;
}
.box2-1{
    width: 200px;
    height: 200px;
    background-color: #f3ffd8;
    display: inline-block;
    margin:0;
}
.box2-2{
    width: 200px;
    height: 200px;
    background-color: #edffbe;
    display: inline-block;
    margin:0;
}
.box2-3{
    width: 200px;
    height: 200px;
    background-color: #e9ffa5;
    display: inline-block;
    margin:0;
}
.box2-4{
    width: 200px;
    height: 200px;
    background-color: #e4ff8d;
    display: inline-block;
    margin:0;
}
.box3-1{
    width: 200px;
    height: 200px;
    background-color: #d9e5ff;
    display: inline-block;
    margin:0;
}
.box3-2{
    width: 200px;
    height: 200px;
    background-color: #bad3ff;
    display: inline-block;
    margin:0;
}
.box3-3{
    width: 200px;
    height: 200px;
    background-color: #a4c6ff;
    display: inline-block;
    margin:0;
}
.box3-4{
    width: 200px;
    height: 200px;
    background-color: #8eb8ff;
    display: inline-block;
    margin:0;
}

