*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 400px;
    width: 100%;
    background-image:url(img1-7/mv.jpg);
    background-size: cover;
    background-position:bottom;
    margin: 0;
}

.header-text{
    padding: 20px;
    color: darkgray;
}

main{
    margin:20px auto 50px auto;
    width: 840px;
}

.content{
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

.picture{
    margin-top: 30px;
}
